
<body>
    <h1>Benvenuto nel bellissimo sito</h1>
    <% if (fruits.length === 0) { %>
    <h3>non ci sono frutti</h3>
    <% } else %>
    <ul>
        <% for(let f of fruits) {%>
        <li><%= f %></li>
        <% } %>
    </ul>
</body>
