<div class="row m-5">
    <div class="col-5">
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="label">Username</label>
                        <input
                            type="text"
                            class="form-control"
                            name="username"
                            placeholder="Username"
                            id="username"
                        />
                    </div>
                    <button type="submit" class="btn btn-primary m-2">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
